<!-- Bottom -->
<p style="text-align: center;">
<a href="http://www2.clustrmaps.com/counter/maps.php?url=http://www.umich.edu/~cforrest" id="clustrMapsLink"><img src="http://www2.clustrmaps.com/counter/index2.php?url=http://www.umich.edu/~cforrest" style="border:0px;" alt="Locations of visitors to this page" title="Locations of visitors to this page" id="clustrMapsImg" onerror="this.onerror=null; this.src='http://clustrmaps.com/images/clustrmaps-back-soon.jpg'; document.getElementById('clustrMapsLink').href='http://clustrmaps.com';" />
</a></p>
<hr>
<a href="http://www.freecounterstat.com" title="hit counter"><img src="http://counter9.freecounterstat.ovh/private/freecounterstat.php?c=96565616a86b61e93fb6621be0a23926" border="0" title="hit counter" alt="hit counter" style="vertical-align:middle"></a>
accesses since October 18, 2010. <span style="float: right;">Last updated on October 15, 2015.</span>