<!-- Head -->
<table class="bordered">
	<thead>
		<tr>
			<th scope="col" id="myname">
			<a href="http://simbaforrest.github.io/" target="_self">Chen Feng</a></th>
			<th scope="col" id="myname_chinese">in Chinese: 冯晨</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td id="myphoto">​<img alt="ChenFeng's picture" src="/fig/cfeng.jpg" />​</td>
			<td>
			<p id="mytitle">Assistant Professor, Ph.D.</p>
			<p><address>
			Department of Civil and Urban Engineering<br />
			Department of Mechanical and Aerospace Engineering<br />
			New York University Tandon School of Engineering<br />
			15 MetroTech Center, Brooklyn, NY<br />
			</address></p>
			<p>
			<strong>E-mail:</strong> cfeng[at]nyu[dot]edu<br />
			<strong>Work:</strong> 646-997-3445</p>
			<p style="text-align:right">
			<a href="http://scholar.google.com/citations?user=YeG8ZM0AAAAJ&hl=en"><img alt="Google Scholar" src="/fig/google_scholar.png" /></a>
			<a href="https://www.linkedin.com/in/simbaforrest"><img alt="LinkedIn" src="/fig/linkedin.png" /></a>
			<a href="https://github.com/simbaforrest/"><img alt="GitHub" src="/fig/github.png" /></a>
			</p>
			</td>
		</tr>
	</tbody>
</table>
