<!-- Head -->
<table class="bordered">
	<thead>
		<tr>
			<th scope="col" id="myname">
			<a href="http://simbaforrest.github.io/" target="_self">Chen Feng</a></th>
			<th scope="col" id="myname_chinese">in Chinese: 冯晨</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td id="myphoto">​<img alt="ChenFeng's picture" src="fig/ChenFeng.png" />​</td>
			<td>
			<p id="mytitle">Research Scientist, Ph.D.</p>
			<p><address>
			Mitsubishi Electric Research Laboratories (MERL)<br />
			201 Broadway, Cambridge, MA 02139<br />
			</address></p>
			<p>
			<strong>E-mail:</strong> cforrest[at]umich[dot]edu<br />
			<strong>MERL's E-mail:</strong> cfeng[at]merl[dot]com<br />
			<strong>Work:</strong> 617-621-7546</p>
			<p style="text-align:right">
			<a href="http://scholar.google.com/citations?user=YeG8ZM0AAAAJ&hl=en"><img alt="Google Scholar" src="fig/google_scholar.png" /></a>
			<a href="https://www.linkedin.com/in/simbaforrest"><img alt="LinkedIn" src="fig/linkedin.png" /></a>
			<a href="https://github.com/simbaforrest/"><img alt="GitHub" src="fig/github.png" /></a>
			</p>
			</td>
		</tr>
	</tbody>
</table>