<!-- Navigation Bar -->
<div>
<ul id="menu">
	<li><a href="index.html">Home</a></li>
	<li><a href="upload/ChenFeng.cv.pdf">CV</a></li>
	<li><a href="research.html">Research</a>
		<ul>
			<li><a href="research.html#PEAC">PEAC</a></li>
			<li><a href="research.html#Kuka">Kuka</a></li>
			<li><a href="research.html#FollowMe">FollowMe</a></li>
			<li><a href="research.html#MARvigator">MARvigator</a></li>
			<li><a href="research.html#KEG">KEG</a></li>
			<li><a href="research.html#SSVR">SSVR</a></li>
		</ul>
	</li>
	<li><a href="publication.html">Paper</a>
		<ul>
			<li><a href="chenfeng.bib">bibtex</a></li>
			<li><a href="chenfeng_ref.html">search</a></li>
		</ul>
	</li>
	<li><a href="code.html">Code</a>
		<ul>
			<li><a href="code.html#cv2cg">cv2cg</a></li>
			<li><a href="code.html#vpdetection">vpdetection</a></li>
		</ul>
	</li>
	<li><a href="misc.html">Misc.</a>
		<ul>
			<li><a href="misc.html#b2wb">B2WB</a></li>
			<li><a href="misc.html#bibtex2filename">bibtex2filename</a></li>
			<li><a href="misc.html#ASCE.xsl">ASCE.xsl</a></li>
		</ul>
	</li>
	<li><a href="/blog">Blog</a></li>
</ul>
</div>