<!-- Navigation Bar -->
<div>
<ul id="menu">
	<li><a href="/index.html">Home</a></li>
	<li><a href="/upload/ChenFeng.cv.pdf">CV</a></li>
	<li><a href="/project">Research</a>
        <ul>
            <li><a href="/project/year">By Years</a><li>
            <li><a href="/project/tags">By Tags</a><li>
            <li><a href="/project/affiliations">By Affiliations</a><li>
        </ul>
    </li>
	<li><a href="http://scholar.google.com/citations?user=YeG8ZM0AAAAJ&hl=en">Paper</a>
		<ul>
			<li><a href="http://scholar.google.com/citations?user=YeG8ZM0AAAAJ&hl=en">Google Scholar</a></li>
			<li><a href="https://www.researchgate.net/profile/Chen_Feng17">ResearchGate</a></li>
		</ul>
	</li>
	<li><a href="https://github.com/simbaforrest/">Code</a>
		<ul>
			<li><a href="https://github.com/simbaforrest/cv2cg">cv2cg</a></li>
			<li><a href="https://github.com/simbaforrest/vpdetection">vpdetection</a></li>
		</ul>
	</li>
	<li><a href="/misc.html">Misc.</a>
		<ul>
			<li><a href="/misc.html#b2wb">B2WB</a></li>
			<li><a href="/misc.html#bibtex2filename">bibtex2filename</a></li>
			<li><a href="/misc.html#ASCE.xsl">ASCE.xsl</a></li>
		</ul>
	</li>
	<li><a href="/blog">Blog</a></li>
</ul>
</div>