<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/blog.css">
			<link rel="stylesheet" href="/css/pygments.css">
			{% include key_navigation.html %}
			{% if page.type == "mathpost" %}
				{% include mathjax.html %}
			{% endif %}
		</head>
		<body>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="upload/ChenFeng.cv.pdf">CV</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
			</nav>
			<div class="container">
			
{{ content }}
			
			</div>
			<footer>
				<ul>
					<li><a href="mailto:simbaforrest@gmail.com">email</a></li>
					<li><a href="https://github.com/simbaforrest">github.com/simbaforrest</a></li>
				</ul>
			</footer>
		</body>
	</html>